<app-error-message [errorMessage]="errorMessage"></app-error-message>

<div class="container">
  <div class="chatbot-container">
    <div class="header">
      <h4>DocBot</h4>
    </div>

    <div class="messages_container" id="messages_container">
      <span
        *ngFor="let chat of selected_chat && selected_chat?.messages"
        [ngClass]="chat.from === 'bot' ? 'message bot' : 'message user'"
      >
        {{ chat.message }}
      </span>
      <div class="loading-container" *ngIf="isLoading">
        <ul class="wave-menu">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>

    <div class="input">
      <input
        type="text"
        [(ngModel)]="new_message"
        (keyup.enter)="send_message()"
        placeholder="Cos'hai in mente?!"
      />
      <button class="send_message" (click)="send_message()">Invia</button>
    </div>
  </div>

  <div class="sidebar">
    <div class="chat-histories">
      <ng-container
        *ngIf="
          sort_chats_by_latest_messages(chats).length === 0;
          else chatsExist
        "
      >
        <!-- Display this content when there are no chats -->
        <div class="chat-title no-history" (click)="new_chat()">
          Nessuna conversazione precedente
        </div>
      </ng-container>

      <ng-template #chatsExist>
        <!-- Display chats when they exist -->
        <div
          *ngFor="let chat of sort_chats_by_latest_messages(chats)"
          class="chat-title"
          [ngClass]="{
            'selected-chat': chat.chat_id === selected_chat?.chat_id
          }"
          (click)="change_chat(chat.chat_id)"
        >
          {{ chat.title }}
        </div>
      </ng-template>
    </div>

    <table class="tokens_table">
      <tr>
        <td>Completion Tokens</td>
        <td>{{ tokens.completion_tokens }}</td>
      </tr>

      <tr>
        <td>Prompt Tokens</td>
        <td>{{ tokens.prompt_tokens }}</td>
      </tr>

      <tr>
        <td>Total Tokens</td>
        <td>{{ tokens.total_tokens }}</td>
      </tr>

      <tr>
        <td>Total Cost (USD)</td>
        <td>
          ${{ tokens.total_cost === 0 ? 0 : tokens.total_cost?.toFixed(4) }}
        </td>
      </tr>
    </table>
    <button class="new_chat" (click)="new_chat()">New chat</button>
  </div>
</div>
<!-- <button class="restartDB" (click)="restartDB()">Restart DB</button> -->
