.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 4rem;
}

.chatbot-container {
  max-width: 700px;
  width: 50%;
  min-width: 450px;
  margin: 0 auto;
  box-shadow: 3px 7px 13px 6px rgb(0 0 0 / 26%);
  border: 0.2px gray solid;

  font-size: 1.1rem;
}

.header {
  background: #1e065f;
  color: #fff;
  padding: 1rem;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 1.3rem;
}

.header h4 {
  margin: 0;
}

.messages_container {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  width: 90%;
}

.bot {
  background: #f1f0f0;
  color: #000;
  text-align-last: left;
  max-width: fit-content;
  align-self: flex-start;
}

.user {
  color: white;
  background: #1969be;
  text-align: right;
  max-width: fit-content;
  align-self: flex-end;
}

.input {
  padding: 20px;
  background: #f1f0f0;
  display: flex;
}

input[type="text"] {
  flex-grow: 1;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

button.send_message {
  padding: 14px 30px;
  border-radius: 25px;
  border: none;
  background: #4267b2;
  color: #fff;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.prompt_table {
  width: clamp(230px, 20vw, 350px);
  height: 150px;
  margin-left: 2rem;

  border: #000 solid 1px;
  border-radius: 10px;
}

.prompt_table td {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-width: 2rem;
  text-align: center;
}

/* Responsive table on small screens */

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  table {
    margin-top: 2rem;
  }
}

button.new_chat {
  padding: 11px 25px;
  margin: 2rem 0.5rem 0;
  background-color: #fff;
  color: #1b4ab9;
  border: 2px solid #1b4ab9;
  border-radius: 25px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

button.restartDB {
  padding: 11px 25px;
  margin: 2rem 0.5rem 0;
  background-color: #ccc;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.chat-histories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin: 1rem 0 2rem 2rem;
  width: 80%;
  max-width: 350px;
  height: 250px;
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;

  border: 1.8px solid #1b4ab9;
  border-radius: 5px;
}

.chat-histories .chat-title {
  width: 100%;
  padding: 0.41rem 0rem;
  background-color: rgb(239, 239, 239);
  color: #1b4ab9;

  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  transition: all ease-in-out 0.3s;
}

.chat-histories.chat-title:hover {
  background: hsl(222, 75%, 58%);
  color: white;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border-radius: 20px;
}

.chat-histories .selected-chat {
  color: white;
  background: hsl(222, 79%, 51%);
  transform: scale(1.05);
}

.chat-histories .chat-title.no-history {
  color: gray;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
}

