<h3 class="title">Questo e il secondo chatBot!</h3>

<div class="container">
  <div class="chatbot-container">
    <div class="header">
      <h4>DocBot</h4>
    </div>

    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="messages">
      <div *ngFor="let msg of messages.bot" class="bot">
        {{ msg.message }}
      </div>
      <div *ngFor="let msg of messages.user" class="user">
        {{ msg.message }}
      </div>
    </div>

    <div class="input">
      <input
        type="text"
        [(ngModel)]="new_message"
        (keyup.enter)="send_message()"
        placeholder="Cos'hai in mente?!"
      />
      <button class="send_message" (click)="send_message()">Invia</button>
    </div>
  </div>

  <table class="prompt_table">
    <tr>
      <td>Completion Tokens</td>
      <td>{{ prompt.completion_tokens }}</td>
    </tr>

    <tr>
      <td>Prompt Tokens</td>
      <td>{{ prompt.prompt_tokens }}</td>
    </tr>

    <tr>
      <td>Total Tokens</td>
      <td>{{ prompt.total_tokens }}</td>
    </tr>

    <tr>
      <td>Total Cost (USD)</td>
      <td>
        ${{ prompt.total_cost === 0 ? 0 : prompt.total_cost?.toFixed(4) }}
      </td>
    </tr>
  </table>
</div>
<button class="new_chat" (click)="new_chat()">New chat</button>
<button class="restartDB" (click)="restartDB()">Restart DB</button>
